<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/archive/">Archive</a></li>
      <li class="menu-items"><br><br></li>
      <li class="menu-items"><a class="menu-links" href="https://meru.github.io/svnp/">Small VN Patches</a></li>
      <li class="menu-items"><a class="menu-links" href="https://meru.github.io/FFIX-Field-Patch/">FFIX Field Patch</a></li>
    </menu>

    <div class="sidebar-socialX">
      <li class="social-itemsX"><a href="https://twitter.com/{{site.twitter}}" class="social-linksX"><i class="social-iconsX fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social-itemsX"><a href="{{site.baseurl}}/feed.xml" class="social-linksX"><i class="social-iconsX fa fa-rss" aria-hidden="true"></i></a></li>

    </div>
  </div>
  <div class="copyright">Copyright © 2019 <a href="https://meru.github.io">メルP</a></div>
</aside>
